@page "/profil"

@if (CurrentUser != null)
{
    <h3>Profil d'utilisateur</h3>
    <br />

        
        <EditForm 
                  Model="MyForm"
                  OnValidSubmit="OnSubmitForm">
            <DataAnnotationsValidator />
            <p>
                <label class="col-form-label">Email</label>
                <InputText type="email" @bind-Value="MyForm.Email" class="form-control form-control-sm" />
                <ValidationMessage For="@(() => MyForm.Email)" />
            </p>
            <p>
                <label class="col-form-label">LastName</label>
                <InputText @bind-Value="MyForm.LastName" class="form-control form-control-sm" />
                <ValidationMessage For="@(() => MyForm.LastName)" />
            </p>
            <p>
                <label class="col-form-label">FirstName</label>
                <InputText @bind-Value="MyForm.FirstName" class="form-control form-control-sm" />
                <ValidationMessage For="@(() => MyForm.FirstName)" />
            </p>            
            <button class="btn btn-outline-success" type="submit">Modifier Profil</button>
        </EditForm>

    
}
@* else{
    Nav.NavigateTo("/login");
    ToastService.ShowInfo("Vous devez être connecté pour accéder à cet url.");
} *@
