<br />

    <div class="container">
        <div class="row">           
            <div class="col-lg-8">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/eventsList">Evénements</a></li>
                        <li><a href="#">Exposants</a></li>
                        <li><a href="#">Thèmes</a></li>
                        <li><a href="#">Roles</a></li>
                        <li><a href="#">Personnes</a></li>
                    </ul>
                </nav>
            </div>            
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
